{% extends 'predstave/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="korisnik-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="ime" placeholder="Unesite ime">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Unesite e-mail">
						</div>
					</div>

					<div id="dostava-info">
						<hr>
						<p>Informacije o placanju:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="adresa" placeholder="Unesite adresu">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="grad" placeholder="Unesite grad">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="drzava" placeholder="Unesite državu">
						</div>


					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Nastavi">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="placanje-info">
				<small>Kartica opcije</small>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'kosarica' %}">&#x2190; Povratak u košaricu</a>
				<hr>
				<h3>Narudžba</h3>
				<hr>
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'slike/placeholder.png' %}"></div>
					<div style="flex:2"><p>Predstava 1</p></div>
					<div style="flex:1"><p>20.00 kn</p></div>
					<div style="flex:1"><p>x2</p></div>
				</div>
				<h5>Stavke:   2</h5>
				<h5>Ukupno:   40kn</h5>
			</div>
		</div>
	</div>
{% endblock content %}