{% extends 'predstave/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'predstave' %}">&#x2190; Nastavi</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Artikl: <strong>2</strong></h5></th>
						<th><h5>Ukupno:<strong> 20 kn</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'dostava' %}">Dostava</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Artikl</strong></div>
					<div style="flex:1"><strong>Cijena</strong></div>
					<div style="flex:1"><strong>Količina</strong></div>
					<div style="flex:1"><strong>Ukupno</strong></div>
				</div>

				<div class="kosarica-row">
					<div style="flex:2"><img class="row-image" src="{% static 'slike/placeholder.png' %}"></div>
					<div style="flex:2"><p>Proizvod 1</p></div>
					<div style="flex:1"><p>20 kn</p></div>
					<div style="flex:1">
						<p class="kolicina">2</p>
						<div class="kolicina">
							<img class="chg-kolicina" src="{% static  'slike/arrow-up.png' %}">

							<img class="chg-kolicina" src="{% static  'slike/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>20 kn</p></div>
				</div>

			</div>
		</div>
	</div>
{% endblock content %}