{% extends 'predstave/main.html' %}
{% load static %}
{% block content %}

    <div class="row">
		{% for predstave in predstava %}

		<div class="col-lg-4">
        	<img class="thumbnail" src="{{predstave.slike.url}}">

			<div class="box-element predstava">
            	<h5><strong>{{predstave.naziv}}</strong></h5>
				<h5><strong>{{predstave.datumPredstave}}</strong></h5>
           		 <hr>
            	<button  class="btn btn-outline-secondary add-btn">Odabir</button>
		    	<a class="btn btn-outline-success" href="#">Pregled</a>
		    	<h4 style="display: inline-block; float: right"><strong>{{predstave.cijena|floatformat:2}} kn</strong></h4>


			</div>
		</div>
		{% endfor %}


	</div>



{% endblock content %}